[2020-06-13 06:39] idc-snoe opened #1 "Add bookmarks"

[2020-06-13 06:39] #1 closed

[2020-06-13 06:40] snoe opened #2 "Add bookmark support"

[2020-06-13 06:41] snoe opened #3 "Add search support from address bar"
If it doesn't look like a host, do a search on GUS

[2020-06-13 06:41] snoe opened #4 "History browser"
Add a screen to browse through history (should it be persisted?)

[2020-06-13 06:43] snoe opened #5 "Tab support"
Tab and long click to open in new tab.

[2020-06-13 06:44] snoe opened #6 "Able to quickly copy links, fixed text blocks, and current url."
Should be able to copy things more easily.

[2020-06-13 06:47] snoe opened #7 "Zoom in fixed width"
Should be able to set a static fixed width column render from the menu. Besides the current scale-to-fit add a 40/80/120 with option to wrap or horiz scroll?

[2020-06-13 06:48] snoe opened #8 "Set homepage"
Be able to save your initial page.

[2020-06-15 14:58] snoe opened #9 "back should exit."

[2020-06-19 04:48] #2 closed

[2020-06-19 04:48] #9 closed

[2020-06-20 05:25] snoe opened #10 "TOFU"
store host and port

[2020-06-24 07:40] #4 closed

[2020-06-24 07:40] #5 closed

[2020-06-26 20:42] jfmcbrayer opened #11 "Handle unordered list line type"
Currently, it's just left as '*'. It would be nice to indent, and replace with a Unicode bullet or some other nice wingding like ❧.

[2020-06-27 15:14] makeworld-the-better-one commented on #11
I would suggest `•`, U+2022. Maybe something larger though, you can find a list of bullet style characters [here](https://stackoverflow.com/questions/12971187/what-would-be-the-unicode-character-for-big-bullet-in-the-middle-of-the-characte).

[2020-07-01 05:33] idc-snoe commented on #11
Fixed by 260e7a64cc8d13297b80fa79da38e75f01ac6dab

[2020-07-01 05:36] snoe commented on #11
fixed by 172329

[2020-07-01 05:36] #11 closed

[2020-07-01 05:37] snoe commented on #10
Fixed by 2cd9fd99e6e60c8cd2bca6a1e63c98ed8b1f4aa6

[2020-07-01 05:37] #10 closed

[2020-07-01 05:37] snoe commented on #8
Fixed by 752cdc01f844a602f34e64f180e16428ebe71913

[2020-07-01 05:37] #8 closed

[2020-07-01 05:38] snoe commented on #7
Fixed by 4ffdbeec7b09f6fc8c806a66d00614a4508a90ef

[2020-07-01 05:38] #7 closed

[2020-07-01 17:08] makeworld-the-better-one commented on #10
I'm happy to see TOFU support in deedum! If I can make a suggestion: Store the hash of the SubjectPublicKeyInfo part of the cert, and not the hash of the entire cert. This idea comes from [this report](https://rp.delaat.net/2012-2013/p56/report.pdf) which Solderpunk shared on the mailing list a little while ago, in the "Thoughts on TOFU" thread. The SPKI portion of the cert changes less often, so

[2020-07-06 15:15] snoe opened #12 "Store SPKI only"
From @makeworld-the-better-one

 So I looked at some keys with an asn.1 parser - some seem to have an spki section, but others just have a public key. I guess I would store either?

What about the chain? Am I supposed to prompt the user for which cert in the chain to trust? Is that how it works?

[2020-07-06 15:35] makeworld-the-better-one commented on #12
Hello!

You should check out my TOFU post btw, it might be helpful: `gemini://makeworld.gq/gemlog/2020-07-03-tofu-rec.gmi`

Could you explain more what you mean? Also keep in mind it's best to hash binary content, not parsed text content.

There should only be one SPKI section, that contains the key information. On [this wiki page](https://en.wikipedia.org/wiki/X.509#Structure_of_a_certificate) yo

[2020-07-07 06:30] #12 closed

[2020-07-07 06:37] idc-snoe commented on #12
Thank you @makeworld-the-better-one that was helpful.

[2020-07-16 12:09] sario528 opened #13 "App crashing"
I'm getting crashes when trying to follow certain links. Steps to reproduce:

-From default home page (gemini.circumlunar.space)
-Click link to Spacewalk
-Click link to alexschroeder (gemini://alexschroeder.ch:1965/do/more)

After clicking, the app hangs for a moment, then closes itself.

[2020-08-15 10:23] linuxclowns opened #14 "feature request: submit to fdroid?"
Would be great to see a non play store version of this app available.

[2020-08-22 21:23] ivan-avalos opened #16 "Suggestions for content typeface"
Hello! I think Merriweather is fine, but I don't find it very comfortable for long text, and the glyphs are weird. I would like to suggest some open source serif and sans-serif typefaces that I think would look better:

## Serif
* Noto Serif.
* Source Serif Pro.
* IBM Plex Serif.

## Sans-serif
* Open Sans.
* Roboto.
* Source Sans Pro.
* IBM Plex Sans.
* Lato.

Or maybe we can use a semi-bold sans

[2020-08-25 05:23] snoe commented on #16
Thanks for this, I'm pretty bad at design so I'm happy to take any informed approach here. I probably just copied a site that I thought was easy to read.

Long term, I would like the user to have control over this since it is so subjective.

I'm happy to take a PR for which font you like best.

[2020-08-25 20:38] ivan-avalos commented on #16
#17

[2020-08-26 21:46] #16 closed

[2020-09-01 09:19] prcmt opened #19 "Internal exception when navigating to any sites"
Installed app this morning, got an error immediately when loading default page. :)

Tried a couple other Gemini sites with no change.

[code]

![IMG_20200901_101535](https://user-images.githubusercontent.com/59378788/91831806-6bdc1600-ec3c-11ea-81f9-ebc1e715e659.jpg)

* deedum 2020.0831.1503
* Android 10

[2020-09-01 14:11] makeworld-the-better-one commented on #19
I am not experiencing this, sounds like it could be a network issue on your part. I am also on Android 10 with the same version of Deedum.

[2020-09-02 16:21] snoe commented on #19
I'm also not experiencing that.
If host lookup was failing though, I'd expect to see an `Failed host lookup: 'gemini.circumlunar.space'` So either DNS is caching or maybe traffic on 1965 is being blocked/modified.

[2020-09-02 21:00] prcmt commented on #19
Yup, outbound traffic on 1965 was being blocked on my network. Thanks!

[2020-09-02 21:00] #19 closed

[2020-09-02 21:09] makeworld-the-better-one commented on #19
@snoe It'd be helpful if the error text was displayed as well, it would be debugging these issues a lot easier.

[2020-09-04 20:12] ivan-avalos opened #20 "Submit to App Store"
Hello! I was just wondering: do you think you'll be able to publish this to the App Store? If not, I have an Apple Developer membership, I could take care of that if you want. I'd be glad to do it! :)

[2020-09-15 03:39] snoe commented on #20
@ivan-avalos (sorry I've been afk)

That would be fantastic if you could publish it actually. I haven't touched ios for a decade so if you know how to navigate it, please do.

[2020-09-15 03:51] ivan-avalos commented on #20
Do I need to do write configuration for Fastlane? Maybe I can just manually publish new releases to the App Store.

[2020-09-15 03:55] snoe commented on #20
No idea. I'm just manually publishing to google, but if the pace of releases picks up I'll have to find something automatic.

[2020-09-27 14:36] zethra opened #22 "Feature request: Url handler"
It would be cool if I could click on gemini links in other apps and have them open in deedum. I believe this is possible os Android at least.

[2020-10-11 15:28] ddevault opened #23 "Typography recommendations for bulletted lists"
The bulletted lists would look nicer if, when bullets are found on a page, a horizontal margin is added to paragraphs and headings, and this new left margin is used to display a Unicode bullet point character (•) instead of an asterisk (*).

It would look something like this:

![](https://l.sr.ht/zt6a.png)

[2020-10-11 15:33] makeworld-the-better-one commented on #23
️

[2020-11-24 16:38] Arteneko opened #24 "Impossible to not select something in the address bar"
Right now, the forced `onTap` implementation means that every tap will refocus the whole value.

That means it's impossible to get a standard caret to type.

I'm trying to make it so it only happens on focus.

[2020-11-24 17:15] sario528 commented on #13
I have not had a crash in the past couple months, going to close this issue.

[2020-11-24 17:15] #13 closed

[2020-11-28 22:40] contrapunctus-1 opened #26 "Restore position when pressing Back"
Current behavior, observed when browsing the mailing list archives on gemini://rawtext.club:1965/~sloum/geminilist/ -
1. Open a page in DeeDum
2. Tap a link in it. Read.
3. Tap the Back button to go back.
4. Page takes a few seconds to load, and the user's view is reset, the page is displayed from the top.

[2020-11-29 04:21] pixdrift opened #27 "Feature request: View page source"
I am not sure if deedum currently supports this, I have primarily been testing on Android, but the ability to 'view page source' or 'switch to source view' at a gemini URL would be handy.

I am interested to see what others are creating in gemini and how the pages are assembled, this would provide a quick way to pull the pages apart. It may also be useful for troubleshooting page rendering etc. fo

[2020-11-30 05:52] maimere opened #28 "Deedum sending duplicate requests?"
Hello. First of all, thanks for the great app.

While inspecting the access logs of my gemini server, I noticed duplicate responses to the same IP and URL requested, which were sent at the same second.

At first, I thought it was my server's fault (I run a jetforce), eventually sending double responses, but later I realized it happened only with certain IPs.

After spending some time trying differ

[2020-12-02 15:26] #24 closed

[2020-12-02 15:41] snoe commented on #28
hi @maimere thanks for the report.

The double fetch will happen [here](https://github.com/snoe/deedum/blob/dc166684e9f09f2614ad4f0b7673910ca58f6962/lib/net.dart#L76-L78), I make the request with a write_shutdown initially because that helped kicked some servers into responding. But then some other servers close the connection (instead of sending the response per spec afaict) so I need to make tha

[2020-12-02 18:41] makeworld-the-better-one commented on #28
I believe this is the case.

I'm confused why you'd have to do a second request at all, it's not something I ever had to do with my clients in Go.

[2020-12-02 22:56] snoe commented on #28
(this is from memory).
go (properly? as a nicety?) sends a tls disconnect from the client and the old jetforce version would react to that to know when to send the response.
dart doesn't send the packet, and being the language that it is, there's not really a seam to do it myself without maybe, possibly using sketchy third party crypto libs not necessarily meant for tls.
https://github.com/michael

[2020-12-02 23:00] makeworld-the-better-one commented on #28
Ah okay. But you mention that Go sends this disconnect signal every time, but "some other servers close the connection (instead of sending the response per spec afaict)". I've never experienced specific servers failing in my casual testing with Go. Do you know of any servers that won't work with this `write_shutdown`? Because if not then this double requesting can be removed.

[2020-12-22 11:36] zachdecook opened #29 "Null character (%00) appended to link location for textless links which end the document."
If a document ends in a textless link, like
[code]

then clicking on it will bring you to `path2%00`

e.g. see gemini://wiki.zachdecook.com/

[2020-12-24 04:22] #26 closed

[2020-12-24 04:22] #28 closed

[2020-12-24 04:38] snoe commented on #29
Hi thanks for the report, I can't reproduce this elsewhere. I suspect either the document or the server is sending a null char. I see this in as the server response when I debug (the second is the result of the test below):

[code]

[code]

[2020-12-24 05:58] zachdecook commented on #29
Thanks, yeah, you're right, it appears to be a server-side bug (with gmnisrv). Deedum is behaving as expected by the spec.

[2020-12-24 05:59] #29 closed

[2020-12-28 06:00] snoe commented on #23
Thanks! Fixed by aad05de3dca269643b496a6b9283dfb99c4ee897

I decided to indent the bulleted paragraph, otherwise lines right after were not possible to distinguish as part of the bullet.

[2020-12-28 06:00] #23 closed

[2020-12-30 03:57] ivan-avalos commented on #20
I wonder if not using WKWebView might be a problem for App Store review. We're building our own rendering engine based on Flutter components, not sure if the Apple restriction only applies for Web browsers.

[2020-12-30 04:02] ivan-avalos commented on #20
According to [App Store Review Guidelines](https://developer.apple.com/app-store/review/guidelines/), there is no problem:

[2020-12-30 05:35] karmanyaahm opened #32 "Open Link in New Tab"
It would be nice if it was possible to have the option to open links in a new tab when long pressing. I'll see if I can get something working and submit a PR.

[2020-12-30 06:44] karmanyaahm commented on #32
@snoe (and everyone who uses deedum) would a context menu like thing like in the first image or what Firefox does like in the second image be better?
![Screenshot_20201230-013429](https://user-images.githubusercontent.com/32671690/103334588-f93f4380-4a3f-11eb-8374-129485350236.png)
![Screenshot_20201230-013514](https://user-images.githubusercontent.com/32671690/103334592-ff352480-4a3f-11eb-8dbd-ed

[2020-12-30 21:10] ivan-avalos commented on #20
@snoe The app has been submitted for review!

[2020-12-30 23:05] snoe commented on #20
woohoo! thank you.

[2020-12-30 23:09] snoe commented on #32
Nice, thank you. I have no preference, but would want to make sure copy link is an option if the long press to copy is replaced by this.

[2020-12-30 23:21] contrapunctus-1 commented on #32
I'd request a menu which is close to the bottom, for easy one handed use. (And even for easier two handed use, since bottom oriented UIs require less movement of the hands.)

[2021-01-01 19:19] pitr commented on #20
is there a link to testflight?

[2021-01-01 21:26] ivan-avalos commented on #20
@pitr I submitted the app directly to the App Store, it won't be available on TestFlight.

[2021-01-01 21:27] ivan-avalos commented on #20
The app was rejected because the reviewer searched "sex" in GUS, and found minor sex references, so I had to adjust the age rating. Let's hope it is accepted this time.

[2021-01-01 23:35] pitr commented on #20
You need to toggle "17+" and unrestricted web access (I believe one enables the other). That's what I did with [The Gemini Browser](https://github.com/pitr/gemini-ios) ([app store link](https://apps.apple.com/app/id1514950389)).

Also, my suggestion is to clarify to reviewer AND in app description that this is not a browser for web. People don't understand what "protocol" is and assume that any br

[2021-01-01 23:58] #32 closed

[2021-01-02 00:06] ivan-avalos commented on #20
@pitr Thanks for the tips! I just toggled "Unrestricted web access", turning my 12+ rating into 17+. Hopefully this will make it more likely to be accepted.

[2021-01-02 01:05] MCMic opened #34 "IDN support"
Attempt to load gemini://français.lanterne.chilliet.eu fails.

It's percent-encoding instead of punycoding the domain.

[2021-01-02 18:18] karmanyaahm opened #35 "Tab number not updating"
When I open a new tab, the number in the 'open tabs menu' box near the address bar stays the same. In most browsers, that shows the number of tabs, so I'm assuming this is a bug and not intended? The number is shown here.
<https://github.com/snoe/deedum/blob/9c2e96d0ef91d566dea3088f7a825cd3d3bf7545/lib/browser_tab.dart#L405-L416>
I tested some older versions from git and this bug seems to have bee

[2021-01-02 23:18] snoe commented on #35
Yeah, I think tabs have some problems. I suspect getting the `appKey.currentState.tabs.length` is skipping `setState` of browsertab state so nothing rerenders. If the tabs was passed into the browsertab constructor it should do it.

[2021-01-03 02:06] ivan-avalos commented on #20
Rejected again, this time because I forgot to remove the "Debug" label in some screenshots. It will take me a long time to take those screenshots again, my computer sucks.

[2021-01-07 08:53] guzzisti commented on #14
for the record: Deedum is available on IzzyOnDroids Repo
https://apt.izzysoft.de/fdroid/index/apk/ca.snoe.deedum

[2021-01-07 08:55] guzzisti opened #39 "Timeout too short?"
I have sometimes issues opening gemini capsules in Deedum which open fine in other clients.
Deedum shows me a red page:
[code]

This happens mostly on sites that need a second or two to respond, i.e. for creating dynamic content. What is the current timeout value and can this be made a setting?

[2021-01-08 22:11] ivan-avalos commented on #20
Great news! deedum was finally accepted in the App Store! It took some negotiating, but it's finally available! https://apps.apple.com/app/deedum/id1546810946

[2021-01-08 22:11] #20 closed

[2021-01-09 00:08] ivan-avalos commented on #39
This has already been fixed in #38.

[2021-01-09 09:46] guzzisti commented on #39
A, i missed that one, was looking for other issues but not for PRs.

Thanks to @snoe and you for creating and improving deedum.

[2021-01-10 06:14] ivan-avalos commented on #39
@snoe This issue can be closed.

[2021-01-10 08:00] #39 closed

[2021-01-10 08:14] snoe commented on #35
Looked at this for a bit more, `IndexedStack` simply doesn't rerender hidden children. I played a bit with changing all the `tab['key']` values when tabs changed but that led to other problems in the `Tab` list. Even if we move the stack to the content, I suspect we'll have the problem between `Directory` and `BrowserTab`.

This suggests `TabBarView` might work https://stackoverflow.com/a/58535348

[2021-01-20 15:57] snoe commented on #20
Thanks for persevering through this @ivan-avalos!

[2021-01-20 15:59] snoe commented on #14
deedum is now available on the main fdroid repo!
https://f-droid.org/en/packages/ca.snoe.deedum/

[2021-01-20 15:59] #14 closed

[2021-01-24 00:54] karmanyaahm commented on #34
I'm not sure what the progress on this issue has been but i tried the follow *Dart* (not Flutter) program
[code]
And it throws an exception. The percent encoding can be easily eliminated in Flutter but this seems to be the bigger problem. I'll try looking for some way to IDN convert this.

[2021-01-24 01:16] karmanyaahm commented on #34
It seems like the punycode library has a few prerequisites
https://github.com/close2/punycode/issues/1
Of the two prerequisites, rfc3454 seems to have a dart library, but I'm not sure if rfc7564 has one, and it looks too complicated to implement directly in the app.

Any advice?

[2021-01-24 02:07] karmanyaahm commented on #34
I found a solution I'll send a PR soon

<https://github.com/Teifun2/nextcloud-cookbook-flutter/blob/542425b77e9dbc65207c4f02ab832239dcd31a62/lib/src/screens/form/login_form.dart#L225>

[2021-01-26 05:35] karmanyaahm commented on #34
@snoe this issue can now be closed

[2021-01-26 16:08] #34 closed

[2021-01-27 02:23] karmanyaahm commented on #27
I can try implementing this. Though I'm unsure of whether it would be better to have wrapped lines or to have a preformatted block?

[2021-01-27 16:29] snoe commented on #27
@karmanyaahm
This makes sense. As a heads up, one of the things I would like (eventually) to do is present the parent/root/next/prev functionality laid out by the posts below. I'm imagining a second bar placed below the address bar, either shown with a toggle button next to the address bar, a setting, or placed above content that you scroll up to. If you can keep that in mind it might inform what'

[2021-01-30 21:28] #3 closed

[2021-02-03 07:41] mister-monster opened #42 "Feature Request: theming"
It would be nice to be able to pick colors for rendering and change the bar color. A black theme would be nice. At the very least, an option to render pages with black background and white text would be great.

[2021-02-03 23:59] snoe commented on #42
Absolutely. I actually want to eventually support per-url theming.

I think https://github.com/snoe/deedum/pull/21 was a step to allowing configurable fonts if anyone wants to pick it up or use it as inspiration for another go.

A PR around custom colors would be welcome too. It will need to consider night-mode.

[2021-02-07 01:48] lenzj opened #43 "Show images progressively"
I was browsing the site below using deedum on android and when I click on any of the links to images (pok3r, tg4x, gergoplex), deedum opens a blank page and won't display the image?  Interestingly if I press the Android home button and then switch back to deedum it displays just the top 10% of the image?

gemini://rawtext.club/~ecliptik/keyboards.gmi

A few alternative clients have been tried (Ari

[2021-02-07 02:28] lenzj commented on #43
After further evaluation Ariene sometimes has an error with the site above as well.  Sometimes Ariene opens the picture fine and sometimes it responds with "Permanent Failure:...".  I'm guessing maybe the gemini server on the site may be only delivering partial images sometimes.

I'll leave this open for a few days to see if anyone else has thoughts/comments and then I'll close.

[2021-02-07 21:19] FoxKyong opened #44 "Handshake error when accessing with IP"
Hi, I am getting an error when accessing my own server with IP instead of DNS.

[code]

The certificate should be ok, there is IP and DNS entry in Subject Alternative Name.
Also it works from any other gemini client I tested, both with IP or DNS. So I guess that the problem in deedum.

[2021-02-13 02:15] splatt9990 opened #45 "unable to open gemini URLs with nonstandard ports without gemini scheme in url"
If you enter a gemini URL sans the Gemini scheme portion and a nonstandard port (i.e. not 1965) deedum thinks the URL is not a Gemini URL and complains it doesn't have an app to open the link.

This is an issue mainly because deedum strips the scheme off the URL on navigating to it, making a typo annoying to fix.

To clarify, with the full scheme in the URL, deedum is capable of fetching the page

[2021-02-18 06:19] karmanyaahm commented on #27
As for the second bar, I'm not sure if you want it visible at all times, but maybe something like the five icons Firefox implements in the popup menu would work?

![Screenshot_20210218-011657](https://user-images.githubusercontent.com/32671690/108314045-45c51680-7187-11eb-9b1a-be087e5f05ab.png)

[2021-02-23 22:30] #27 closed

[2021-02-23 22:35] snoe commented on #43
Beyond misbehaving servers, it would be nice to display images progressively.

[2021-03-24 22:48] ssb22 opened #47 "Feature request: bigger text"
My eyesight is bad, I would like an option for all text to be larger (like the "Text Scaling" option in Chrome's Accessibility settings).  Thanks for all your work on this.

[2021-03-25 04:16] snoe commented on #47
@ssb22
For normal text, a setting to adjust the default size sounds pretty straightforward.

Next, a sort of text scaling exists for fixed-width blocks you can double click a block and override the fit-to-width default, would you like a larger scale there say 24 or 16 chars per line or is the existing 32 char per line readable?

I'm inclined to keep the double click to zoom in behaviour for fixed-

[2021-04-06 01:01] IzzySoft commented on #14
@snoe now that Deedum is available at F-Droid.org directly: shall I still keep it in mine? I usually remove apps after an overlap of about a week or a little more once they made it into "F-Droid proper" – unless explicitly being asked to keep them (you can find [some background here](https://gitlab.com/IzzyOnDroid/repo/-/wikis/FAQ)).

[2021-04-07 02:42] snoe commented on #14
@IzzySoft I think you can remove it, thank you for your help.

[2021-04-07 17:12] IzzySoft commented on #14
Allright, thanks @snoe! Should you need it back for any reason at any point, just let me know.

[2021-05-04 12:30] koyuawsmbrtn opened #48 "Screenshots?"
It'd be nice to have a look at the app before downloading APKs from the internet. Would make it a lot more trustworthy.

[2021-05-04 12:35] licaon-kter commented on #48
/close as invalid

Screenshots are shown on F-Droid (client and web): https://github.com/snoe/deedum/blob/master/fastlane/metadata/android/en-US/images/phoneScreenshots/1.png

[2021-05-04 12:40] sario528 commented on #48
Screenshots also available on Google Play listing https://play.google.com/store/apps/details?id=ca.snoe.deedum&hl=en_US&gl=US

[2021-05-04 13:03] #48 closed

[2021-09-21 14:22] eggplants opened #49 "code in a block is too big"
When browsing [my site](gemini://eggplants.srht.site/cheatsheet.gmi) with deedum:

![Screenshot_20210921-225238](https://user-images.githubusercontent.com/42153744/134188335-b259daa9-84ce-43d1-97b5-49173d5a8a35.png)

[2021-09-28 20:24] snoe commented on #49
this behaviour is nice for ascii art but for a lot of text like this, it should probably wrap.

the app should allow users to store per site or domain preferences like font-size, colors, and fixed width font handling.

[2021-11-07 09:16] areille opened #50 "Cannot launch project with flutter stable (2.5.3)"
I just cloned the project, and tried running `flutter run`, which trows an error :

[code]

My Flutter version :

[code]

[2021-11-07 09:31] areille commented on #50
This comes from [`extended_text`](https://pub.dev/packages/extended_text) plugin that needs to be updated. Will provide a PR for this.

[2021-11-07 09:34] areille opened #52 "Migrate to null safety"
This project should be migrated to [null safety](https://flutter.dev/docs/null-safety).

See the [migration guide](https://dart.dev/null-safety/migration-guide).

[2021-11-21 16:21] ssb22 opened #54 "modalBarrierDismissLabel called on null"
Hi, I'm on deedum version 2021.0221.1640 from Play Store, I tried to open gemini://gemini.ctrl-c.club/ and got:

    An error occurred
    NoSuchMethodError: The getter 'modalBarrierDismissLabel' was called on null.
    Receiver: null
    Tried calling: modalBarrierDismissLabel

I think ctrl-c.club might have changed their host key, so it's possible that deedum is trying to pop up a "host key chan

[2021-11-23 16:05] #52 closed

[2021-12-01 04:29] snoe commented on #50
This was really great thank you.

[2021-12-01 04:29] #50 closed

[2021-12-01 04:32] snoe commented on #54
I was running into this as well, and when I went looking to reproduce it I believe @areille fixed it in https://github.com/snoe/deedum/pull/53. After installing the new release, it properly pops up the host key warning. The new release should be in the play store soon.

[2021-12-01 23:02] #54 closed

[2021-12-06 23:53] lufte opened #55 "Relative URL handled as absolute URL"
Hello. I'm running version 2021.0221.1640 from F-Droid and I'm having an issue where relative URLs are processed like absolute ones.

You will need to set up a test site with two pages to reproduce it. I have the following two files:
[code]
Where index.gmi is:
[code]
and page.gmi is:
[code]

Now do the following:

1. Visit `localhost/dir1/`
2. Click the link
3. Go back
4. Click the link again

Ste

[2021-12-07 12:42] DanielChesters opened #56 "Grey screen on tabs list"
When I go on the tabs list, I have a grey screen with nothing since the last update (2021.1203.0440).

![Screenshot_20211207-133828](https://user-images.githubusercontent.com/291102/145030868-c1ef367b-8e0f-48b2-815f-ad5c140f6be7.jpg)

I use an OnePlus Nord (AC2003), Android 11, and Oxygen OS 11.6.6.AC01BA

[2021-12-10 06:48] scompo opened #57 "https links not opening"
Hi, after installing the latest fdroid version (2021.1203.0440) https links are not opened in the browser.

The program tells me it can't find an app to open the link.

[2021-12-10 23:21] farvardin commented on #47
I agree, text is way too small (and in serif it looks even smaller), it should at least follow the default user settings in the android  display configuration.

[2021-12-12 09:29] DanielChesters commented on #56
I can "fix" the issue by delete local data.

[2021-12-12 09:39] DanielChesters opened #58 "Can change settings values (virtual keyboard close instantly)"
Hi, after I remove all my local data to "fix" my tabs grey list issue, I found another issue when I try to change the homepage setting (or the search engine URI). The virtual keyboard open when I select a field on settings page and close instantly.

I have a OnePlus Nord (AC2003) with Oxygen OS 11.6.6.AC01BA (Android 11) and the last version of the application.

[2021-12-12 13:14] DanielChesters commented on #56
I just reproduce the issue with only a tab selection (the tab goes grey like the screenshot and does not seems to go in their normal state)

[2021-12-13 22:24] Conky5 commented on #57
I am encountering this error as well.

[2021-12-15 06:18] snoe commented on #47
Fixed by e109892 it should now follow os accessibility font sizing.

[2021-12-15 06:18] #47 closed

[2021-12-15 06:24] snoe commented on #56
I'm having trouble reproducing this, I'm not sure exactly what you meant by "with only a tab selection".

Starting from deleted local data, what steps do you take to get into this state?

[2021-12-15 06:42] snoe commented on #57
Fixed by 39fbda2 (I hope)

I think this was caused https://developer.android.com/training/basics/intents/package-visibility although I'm compiling to api 28, it could be required by your phone's android version.

[2021-12-15 06:42] #57 closed

[2021-12-15 06:43] snoe commented on #58
I'm able to reproduce this. Until I get a fix out you can tap the input until the keyboard stays open to get around it.

[2021-12-15 06:48] DanielChesters commented on #56
Hi,

Sorry if I am not enough clear. If I remember correctly, the grey list tab reappears "randomly" when I select a tab on the tab list and the tab list works fine for a while before that. Sorry if I don't have more information for the moment.

-------- Original Message --------
On Dec 15, 2021, 07:25, Case Nelson - notifications at github.com wrote:

[2021-12-15 07:32] #58 closed

[2021-12-19 10:39] farvardin commented on #47
Thanks a lot @snoe , it's perfect this way. I got the new version on fdroid this morning!

[2021-12-24 10:44] scompo commented on #57
I can confirm it works fine now, thank you for the quick fix, have a nice holiday!

[2021-12-24 22:30] ssb22 commented on #47
This has now arrived on Google Play updates as well.  Many thanks.

[2021-12-27 23:41] snoe commented on #56
@DanielChesters Can you let me know if this is happening on the latest version? I did see it once on the previous version but was unable to reproduce it, and haven't seen it since on version 2021.1215.0738+19.

[2021-12-28 09:17] DanielChesters commented on #56
Hello,

Since I had Version 2021.1215.0738 on my phone, this issue seems to be fixed.

Thanks you. 👍

-------- Original Message --------
On Dec 28, 2021, 00:41, Case Nelson - notifications at github.com wrote:

[2021-12-28 15:46] ScoreUnder opened #59 "31 status not handled correctly when moving back in history"
1. go to `score.moe`
2. click 'blog'
3. (get redirected from `/blog` to `/blog/`)
4. click any link except the parent link
5. press the back button
6. click any link except the parent link

expected: back button ultimately takes you to `/blog/`, links still work after pressing back button

actual: back button goes to `/blog`, shows contents of `/blog/` but does not update URL bar; links are broken

[2021-12-31 08:14] #56 closed

[2021-12-31 08:15] snoe commented on #35
This should be fixed with 136be837f73a6a9665cd9845a88e20fc713f0c2a

[2021-12-31 08:15] #35 closed

[2021-12-31 08:15] #6 closed

[2021-12-31 08:52] snoe commented on #45
This no longer happens, I looked into accepting something like `127.0.0.1:1234` as gemini but I couldn't figure out a good way to do so while keeping the search working. So, unless someone comes up with a PR I'll leave it here.

[2021-12-31 08:52] #45 closed

[2021-12-31 09:14] #59 closed

[2022-01-01 00:08] snoe commented on #49
Added a change in 9c97f30 to pad lines to a minimum of 32 by default. This makes examples, like these, look much better.

[2022-01-01 00:08] #49 closed

[2022-01-01 00:32] eggplants commented on #49
𝑻𝒉𝒂𝒏𝒌 𝒚𝒐𝒖...

[2022-02-13 13:27] cloudrac3r commented on #43
This is almost certainly an Ariane bug. Ariane is very buggy, particularly with regards to URL handling. It should not be used as a reference.

[2022-02-13 13:40] cloudrac3r opened #60 "Stuck in loading state for several seconds after requesting from a Bliz server"
Hi, I really like this browser!

I've been having an issue with when I'm connecting to my site gemini://cadence.moe/ . The page appears just fine. But the url bar remains green (in the loading state) for several more seconds. I cannot click any links on the page until it decides to stop and turn orange. This makes it super frustrating to navigate.

This issue happens every time I load a page, so y

[2022-02-14 07:32] DocSunset opened #61 "Selecting text frustratingly scrolls page"
My spouse found that if they rest their thumb on the page (e.g. moving it slightly, trying to keep the screen from sleeping while reading a long article), if they accidentally trigger text selection, the page would scroll to a position several paragraphs earlier in the article, so that they would lose their place in the article, to their great frustration. They're almost ready to quit gemini entir

[2022-03-23 20:58] davirec opened #62 "Data loss on double screen rotation"
In the double screen rotation test to detect data loss, an application failure was identified: the pop-up menu disappeared after double rotation.

A data loss problem occurs when data is accidentally deleted or state variables are accidentally assigned with default or initial values. This issue is related to the activity's lifecycle (1). When a screen rotation occurs, the activity is destroyed and

[2022-03-26 05:20] snoe commented on #60
@cloudrac3r This happens with servers that do not close the ssl connection, many libraries will need to do that twice, once for the underlying socket and once for the ssl wrapper. I believe the gemini spec is more explicit about this now but I have to admit I haven't been following development as closely.

Here's an investigation I did for the jetforce server:
https://github.com/michael-lazar/jetf

[2022-03-26 05:25] snoe commented on #61
@DocSunset I tried to reproduce this but I can't get the page to jump, are you on the latest version from 2022.0101 I believe this may have been an issue in the past?

Is this on android? Do you have a particular page this happens on?

[2022-03-26 05:29] snoe commented on #43
This should be fixed in deedum, I reworked some of this during the new year, and images were handling re-rendering very poorly. The page in question seems to work much better now.

[2022-03-26 05:29] #43 closed

[2022-03-26 05:29] snoe commented on #22
Open an issue if this isn't working as expected.

[2022-03-26 05:29] #22 closed

[2022-03-26 05:32] snoe commented on #42
I think I'm going to close this and leave deedum just with darkmode.

[2022-03-26 05:32] #42 closed

[2022-03-26 05:41] snoe commented on #62
@davirec unless this is causing pain for more people, I probably won't get to this. PR welcome though.

[2022-03-26 08:53] cloudrac3r commented on #60
I read the jetforce issue report, I understood some of it, but I'm not 100% sure which behaviour is the actual behaviour and which behaviour is the expected behaviour.

What I can tell you is that I tracked down the behaviour that bliz is currently exhibiting. Bliz uses this command line to do TLS:

`ncat -k -l $gemini_port -e '/usr/bin/env fish src/cgi.fish' --ssl --ssl-cert certs/cert.pem --ssl-

[2022-03-27 03:37] snoe commented on #60
@cloudrac3r not sure, you can see I use `ncat` to test gemini as well https://github.com/snoe/deedum/blob/master/server#L8 `-C` and `-c` vs `-e`  seem to be the only difference. It'd be interesting to see if if it's `cgi.fish` or the `-C`  or maybe the os causing the issue.

Can you start by trying `server` in this repo (passphrase is "test") and see if you get the same behaviour on your end?
Next

[2022-03-27 03:49] snoe commented on #60
Something else I notice when I use `server` I get this in this in the log
https://github.com/snoe/deedum/blob/master/lib/net.dart#L245
But I don't see that at your site. (You can see Logs in the app from the drop down menu)

[2022-03-27 10:43] cloudrac3r commented on #60
Oops, I was accidentally very misleading. I tried your ncat on my computer and it worked. And then I tried Bliz on my computer and it worked. So the issue wasn't in ncat - the issue was in Bliz on my cadence.moe server falling back to actually using socat because ncat wasn't available!

So it seems like a problem in socat. ncat works just fine with Bliz.

ncat has always been the preferred option

[2022-03-27 21:32] snoe commented on #60
No worries, I love your site btw.

[2022-03-27 21:32] #60 closed

[2022-03-29 08:22] DocSunset commented on #61
This is on Android; the Play store reports that the app is up to date.

I tried to replicate this again this morning. I notice that the issue described doesn't seem to occur on the homepage at all. I suspect that the issue will only appear on very long pages with a lot of scrolling. I was able to recreate the issue on this page: gemini://beyondneolithic.life/graeber_archive/utopia_of_rules/dead_zo

[2022-03-30 19:11] snoe commented on #61
I see, it looks like it's a bug in a third party library I was forced to use for text-selection. The further down the page, the further off selection occurs from where you tap.

It seems flutter may support selecting across spans now, so it may be fixable by dropping the library.

[2022-04-05 08:57] licaon-kter opened #63 "Allow removal of homepage"
Home page url can't be blank, else the app fails to connect continuously.

Home page tab can't be closed.

Home page can't be stopped to connect at start.

Ref: https://forum.f-droid.org/t/tracking-anti-feature-for-deedum/17937

[2022-04-05 21:16] snoe commented on #63
Thanks for the report!

[2022-04-06 04:06] snoe commented on #63
Fixed by a7c6dd8

[2022-04-06 04:06] #63 closed

[2022-04-06 04:45] #61 closed

[2022-04-06 06:40] licaon-kter commented on #63
Thanks

[2022-04-10 20:25] jbanana opened #64 "Client cert double requests"
I've been using Deedum to play the spellbinding game at gemini://tilde.cafe/~spellbinding/game/cgi and I got an email from the person who runs it saying:

I noticed that every time I submit a word, I have to choose the certificate, but I only have one.

I couldn't find a way to say "this cert applies to all requests to this host". Is that possible?

[2022-05-30 18:47] crentava opened #65 "generating certificates?"
hello, I need to use certificates on some gemini sites. Sorry if this has been covered, but I can’t find information about this anywhere. How do you generate certificates?

[2022-05-30 19:57] snoe commented on #65
Client certificates are generated under "Identities". Create a new identity with a Name (you can leave the Certificate and Private Key blank and deedum will generate them, or you can paste in existing ones from other clients).

 Then go to your site and in the drop down menu, choose "Add to identity" and associate your cert with the site.

[2022-05-30 20:01] crentava commented on #65
thank you so much! I didn’t know how this worked because I came from elaho on ios. Thanks for explaiining

[2022-05-30 20:01] #65 closed

[2022-05-31 18:42] crentava opened #66 "can you please add semantic labels to improve accessibility for screen readers?"
hello. I am a visually impaired person that uses what's called a screen reader. This means that I have things on the screen read out to me. Unfortunately, this app is hard to use because it seems that a lot of the tabs/buttons are icons only.
There is a class in flutter called Semantics that allows you to add labels (along with other things) to improve accessibility. for screen reader users. If it

[2022-05-31 19:23] snoe commented on #66
Thanks for this, it would be really good to get this in.
A PR would be really nice as my time to work on this is pretty spotty. If you make the code changes even if you don't build and open a PR we can see if the github actions CI can build it.

For building with flutter, [I pin to flutter  2.8.1](https://github.com/snoe/deedum/blob/master/.github/workflows/main.yml#L14), where are you getting stu

[2022-05-31 19:30] crentava commented on #66
I'm getting errors about gradel terminating with exit code 1.
I’m on flutter 3. I have not made any modifications to the app at all. I just cloned the repo, ran flutter pub get, and ran flutter  run. Weather I run or build i, I still get the same error

[2022-05-31 20:19] snoe commented on #66
ah I see. I'm not sure if it's how I've set up the project but it seems that every few months the build completely breaks as flutter and packages change and I need to futz with it until it builds on latest.

[2022-05-31 20:58] crentava commented on #66
is there a way to fix it.

[2022-05-31 21:19] snoe commented on #66
In general, my approach is to upgrade to the latest flutter, then address the warnings and issues I get from running `flutter build apk`. It looks like there's warnings about some sort embedding api, and packages that require a new api version.
Also seeing errors about `ExtendedText` that I had to use to fix https://github.com/snoe/deedum/issues/61 but following the flutter issue https://github.co

[2022-06-08 06:45] crentava commented on #66
@snoe
I’m just reaching out to tell you that I’m working on this issue, hopefully I will be able to send the PR soon.
I must say that I don’t know what I’m doing with updating packages and all of that, but I do know enough to say that adding semantics will be easy.
I just wanted to ask a noobish question. Why are you generating tabs dynamicly? is that somehow better?

[2022-06-08 16:26] snoe commented on #66
@crentava oh that's great, thank you.

Do you mean here? https://github.com/snoe/deedum/blob/master/lib/next/app.dart#L105
The only reasoning I can give is that I've had a number of state bugs in the past, with tabs in particular. I've gone through at least 3 iterations trying to fix them.

The tab count button in the appbar was always out of sync with the actual tabs so the last big change I made

[2022-06-08 16:48] crentava commented on #66
sorry i didn’t explain properly haha. I ment the tabs like the bookmarks and identities tabs. You seem to generate tabs rather than hardcoding them

[2022-06-08 17:37] snoe commented on #66
sorry I still don't follow. but if you see something that can be improved while you're doing this, go ahead.

[2022-07-21 12:20] marek22k opened #67 "Support for certificates with ecdsa-with-SHA512"
Hello,

I run a community site with a private EC key. However, Buran does not seem to be able to open it. (I hope I have worded it correctly. I'm not that familiar with cryptography terms).
![deedum](https://user-images.githubusercontent.com/46723399/180212004-a42790b0-4a5a-48cd-82e8-9bd98e6cf122.png)

[2022-07-22 18:37] snoe commented on #67
I looked into a couple years ago, unfortunately we're highly constrained by the dart libs here and it wasn't supported at the time.

I'm not sure if it's [listed here](https://pub.dev/documentation/cryptography/latest/) if it is, a new build on the latest version of flutter may fix this. I'll take a look next time I dive into dev on the project.

[2022-09-17 13:25] casperl opened #68 "deedum - IOS client"
I am very happy to be able to use Deedum on my ancient iPad (installed via the Apple App Store) since all the other Gemini browsers require a newer version of IOS.

My problem is that the base font used by Deedum is small, really too small for comfortable or extended use.

The base premise of the Gemini protocol is that we will do *al lot* of reading in our Gemini browsers and this makes it a crit

[2022-11-30 08:58] Silent-Hunter opened #69 "Ability to save content"
I attempted to save an image so I could share it with my mother, who doesn't use Gemini (yet). But long tapping on the image does nothing, and there are no options for it anywhere else.